Branches/VNext/Source/Framework.Tests/Resources/RestaurantServiceSimple.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:thinktecture-com:demos:restaurantservice:webservice:v1"
                  xmlns:tns="urn:thinktecture-com:demos:restaurantservice:webservice:v1"
                  xmlns:s0="urn:thinktecture-com:demos:restaurantservice:messages:v1"
                  xmlns:s1="urn:thinktecture-com:demos:restaurantservice:data:v1"
                  xmlns:s2="urn:thinktecture-com:demos:restaurantservice:headerdata:v1" 

                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
                  xmlns:s="http://www.w3.org/2001/XMLSchema" 
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!--Abstract Part of the WSDL-->
  
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:thinktecture-com:demos:restaurantservice:headerdata:v1">
      <s:element name="userCredentials" type="s2:credentials" />
      <s:complexType name="credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:thinktecture-com:demos:restaurantservice:data:v1">
      <s:complexType name="ArrayOfRestaurantInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="restaurant" type="s1:restaurantInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="restaurantInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="restaurantID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="openFrom" type="s:time" />
          <s:element minOccurs="1" maxOccurs="1" name="openTo" type="s:time" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ratingInfo">
        <s:restriction base="s:string">
          <s:enumeration value="poor" />
          <s:enumeration value="good" />
          <s:enumeration value="veryGood" />
          <s:enumeration value="excellent" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:thinktecture-com:demos:restaurantservice:messages:v1">
      <s:import namespace="urn:thinktecture-com:demos:restaurantservice:data:v1" />
      <s:element name="getRestaurants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRestaurantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="restaurants" type="s1:ArrayOfRestaurantInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="restaurant" type="s1:restaurantInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rateRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurantID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rate" type="s1:ratingInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  
  <wsdl:message name="GetRestaurantsSoapIn">
    <wsdl:part name="getRestaurants1" element="s0:getRestaurants" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantsSoapOut">
    <wsdl:part name="GetRestaurantsResult" element="s0:getRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="AddRestaurantSoapIn">
    <wsdl:part name="addRestaurant1" element="s0:addRestaurant" />
  </wsdl:message>
  <wsdl:message name="AddRestaurantuserCredentials">
    <wsdl:part name="userCredentials" element="s2:userCredentials" />
  </wsdl:message>
  <wsdl:message name="RateRestaurantSoapIn">
    <wsdl:part name="rateRestaurant1" element="s0:rateRestaurant" />
  </wsdl:message>
  
  <wsdl:portType name="RestaurantServiceInterface">
    <wsdl:operation name="GetRestaurants">
      <wsdl:input message="tns:GetRestaurantsSoapIn" />
      <wsdl:output message="tns:GetRestaurantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <wsdl:input message="tns:AddRestaurantSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="RateRestaurant">
      <wsdl:input message="tns:RateRestaurantSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  
  <!--Concrete Part of the WSDL-->
  <wsdl:binding name="RestaurantServiceSoapHttpBinding" type="tns:RestaurantServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRestaurants">
      <soap:operation soapAction="urn:thinktecture-com:demos:restaurantservice:webservice:v1:getRestaurantsIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap:operation soapAction="urn:thinktecture-com:demos:restaurantservice:webservice:v1:addRestaurantIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddRestaurantuserCredentials" part="userCredentials" use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RateRestaurant">
      <soap:operation soapAction="urn:thinktecture-com:demos:restaurantservice:webservice:v1:rateRestaurantIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantService">
    <wsdl:port name="RestaurantService" binding="tns:RestaurantServiceSoapHttpBinding">
      <soap:address location="http://localhost:1633/RestaurantService/RestaurantService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>